@import './mixin';

.about{
    clip-path: polygon(0 0, 100% 4%, 100% 100%, 0% 100%);
    font-weight: 300;
    width: 100vw;
    height: 90vh;
    display: flex;
    background-color: $bg1;

    .wrapper{
        @include wrapperDefaultSetting;
        display: flex;
        flex-direction: column;

        .header{
            width: 35%;
            height: auto;
            
            h1{
                font-size: 3rem;
                letter-spacing: 3px;
            }
        }
        
        .about-box{
            margin-top: 60px;
            width: 100%; 
            height: 60%;
            display: flex;;
            justify-content: space-between;
            align-items: center;

            .mybox{
                margin: 20px;
                width: 45%;
                height: 100%;
                border-radius: 15px;
                padding: 2.5rem;
                @include containerShadow;
                background-color: #fff;
                h3{
                    font-size: 2rem;
                    font-weight: 300;
                    letter-spacing: 2px;
                    margin-bottom: 20px;
                }
            }

            .talents{
                display: flex;
                flex-direction: column;

                .cards{
                    display: flex;
                    flex-direction: column;
                    width: 100%;

                    .card{
                        display: flex;
                        margin-top: 15px;



                        i{
                            height: 15%;
                            width: 10%;
                            font-size: 25px;
                        }

                        .card-text{
                            width: 80%;
                            
                            h4{
                                font-weight: 400;
                                text-transform: uppercase;
                                letter-spacing: 1.5px;
                            }

                            p{
                                margin-top: 2px;
                                letter-spacing: 1px;
                            }
                        }
                    }
                }
            }

            .skills{
                display: flex;
                flex-direction: column;



                .skill-list{
                    display: flex;

                    ul{
                        width: 100%;
                        list-style: none;

                        li{
                            font-size: 1.1rem;
                            letter-spacing: 1px;
                            padding: 2px;

                            &:nth-child(1){
                                color: rgb(0, 82, 160);
                                font-weight: 400;
                                margin: 5px 0;
                            }
                        }
                    }
                }
            }
        }


    }
}