@import './mixin';

#about-me{
    width: 100%;
    height: 55vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $about;

    .me-description{
        width: 30%;
        margin: 0 3% 0 auto;

        h1{
            width: 140px;
            background: linear-gradient(45deg, $about 90%, #7AA0CB 80%);
            text-transform: uppercase;

            &:hover{
                background: linear-gradient(45deg, $about 90%, #0360ca 80%);

            }
        }

        p{
            letter-spacing: 1px;
            line-height: 140%;

            span{
                color: #268d43;
                font-weight: 600;
            }
        }
    }

    .skills{
        width: 40%;
        margin: 0 auto 0 3%;
        display: flex;

        .skill-tree{
            padding: 0 30px;



            h3{
                text-transform: uppercase;
                margin-bottom: 10px;
                padding: 2px;
                background: linear-gradient(45deg, $pastel-blue3 75%, $about 80%);
            }
            ul{
    
                li{
                    width: 150px;
                    list-style: none;
                    padding: 2px 0;
                    letter-spacing: 1px;

                    &:hover{
                        background-color: $btn-hover;
                    }   
                }
            }

        }


    }
}