@import './mixin';

header{
    height: 70vh;
    width: 100%;
    // background-color: #68A4D5;
    @include flexCent;
    background: url("../images/hero1.jpg");
    background-position: center;
    background-size:cover;

    @include pageDefaultSetting;

    // Not toggled
    .hero-wrapper{
        overflow: hidden;
        width: 30vw;
        height: 15vh;
        background-color: #fff;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        transition: height 0.5s ease-in-out;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 10px;

        .unshow-box{
            display: flex;
            align-items: center;
            width: 100%;
    
    
            .inactive{
                display: flex;
                justify-content: flex-start;
                align-items: center;
    
                .my-pic{
                    position: relative;
                    width: 120px;
                    height: 120px;
                    border-radius: 50%;
                    overflow: hidden;
    
                    img{
                        position: absolute;
                        object-fit: cover;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                    }
                }
    
                .hero-textBox{
                    margin-left: 40px;
                    padding-left: 20px;
                    border-left: 1px solid lightgray;
                    h2{
                        font-size: 2rem;
                        letter-spacing: 1.1px;
                    }
                    h3{
                        font-size: 1rem;
                        padding: 10px 0;
                        letter-spacing: 1.1px;
                    }
                }
            }
    
            .down-icon{
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
                width: 150px;
                height: 100%;
                transition: transform 0.35s;
                i{
                    font-size: 2.5rem;
                }
            }
        }

        .show-box{
            height: 100%;
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            transition: 3s;
            border-top: 1px solid lightgray;
            padding: 20px;

            p{
                font-size: 1.2rem;
                line-height: 120%;
                margin-top: 1rem;
                letter-spacing: 1px;

                span{
                    color: #cf6161;
                    font-weight: 500;
                }
            }
        }

    }


    // Toggled
    .active{
        height: 45vh;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        
        // icon upside down
        .down-icon{
            transition: transform 0.35s;
            i{
                transform: rotate(180deg)
            }
        }
    }
   
    
}







@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,100&display=swap');