@import './mixin';

.hero{
    min-width: 100vw;
    height: 40vh;
    background: linear-gradient(45deg, $pastel-blue 50%, $pastel-blue2 70%);
    
    .hero-text{
        height: 100%;
        width: 40%;
        margin: auto;
        font-family: 'Roboto Mono', sans-serif;
        @include flexColumnStart;
        color: $white;

        h1{
            font-size: 3rem;
        }
        p{
            font-size: 1.2rem;
            margin: 2px 0;
            
        }

        button{
            width: 100px;
            padding: 5px 10px;
            margin-top: 10px;
            border: none;
            cursor: pointer;
            background-color: $btn-color;
        }
    }
}


@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,100&display=swap');