@import './mixin';

.my-links{
    width: 100%;
    height: 30vh;
    @include flexCent;

    .wrapper{
        width: 70%;
        height: 60%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .personal-info{
            width: 30%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-start;

            h3{
                font-weight: 200;
                font-size: 2rem;
            }
            p{
                letter-spacing: 1.1px;
                line-height: 130%;
                font-weight: 300;
            }

            .clipboard{
                display: flex;
                align-items: center;
                justify-content: space-around;
                width: 100%;

                button{
                    margin-right: 5px;
                    cursor: pointer;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    width: 140px;
                    padding: 5px 10px;
                
                }

                #copied{
                    display: none;
                }
            }

           
        }

        .contact-icons{
            width: 70%;
            height: 70%;
            margin-left: auto;
            padding-left: 1rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-left: 1px solid $bg1;
            

            .link{
                width: 25%;
                @include flexCent;
               
                
                a{
                    min-width: 50%;
                    text-decoration: none;
                    @include flexCent;
                    font-size: 1.2rem;
                    color: $bg1;
                    font-weight: 300;
                    
    
                    .link-p, .i{
                        padding: 5 px;
                        height: 35px;
                        @include flexCent;

                    }
    
                    .link-p{
                        width: 120px;
                        background-color: #578875;
                        
                    }
    
                    .i{
                        background-color: #34745b;
                        width: 30%;
                    }
    
    
                }
            }
        }

    }
}