$pastel-blue: #8bacd1;
$pastel-blue2: #b8c7d4;
$pastel-blue3: #C1D1DB;
$white: #fff;

$about: #f0f5f7;
$nav: #dadada;
$btn-hover: #ebebeb;

$btn-color:#C1D1DB;

// mixin functions. - flex-box;

@mixin flexCent{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexColumnStart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}