@import './mixin';

main{
    height: 100%;
    width: 100vw;
    // @include pageDefaultSetting;

    .wrapper{
        width: 100%;
        height: 100%;
        @include wrapperDefaultSetting;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        .header{
            width: 100%;
            height: 20%;
            margin: 10px 0; 

            h1{
                font-weight: 300;
                font-size: 3rem;
                letter-spacing: 3px;
            }
        }

        .switches{
            height: 10%;
            width: 100%;
            display: flex;
            align-items: center;
            margin-bottom: 60px;

            select{
                font-size: 18px;
                padding: 5px;
                outline: none;
            }
        }

        .show-works{
            height: 70%;
            width: 100%;

            .project-box{
                width: 100%;
                height: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                .workBox{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;

                    .project-card{
                        width: 350px;
                        height: 450px;
                        @include containerShadow;
                        padding: 20px;
                        border-radius: 5px;
                        border: 1px solid rgba(211, 211, 211, 0.568);
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: flex-start;
                        margin: 20px 0;
    
                        .project_name{
                            height: 20%;
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                            align-items: flex-start;
    
                            
    
                            .name{
    
    
                                h1{
                                    font-size: 1.5rem;
                                    text-transform: capitalize;
                                }
        
                                em{
                                    font-size: 1rem;
                                }
                            }


    
                            .projects_link{
                                width: 20%;
                                height: 100%;
                                display: flex;
                                align-items: flex-start;
                                justify-content: space-between;
    
                                a{
                                    text-decoration: none;
                                    color: black;
                                    padding: 5px;
                                    font-size: 1.3rem;
                                }
                            }
    
    
                        };
    
                        .project_image{
                            position: relative;
                            width: 100%;
                            height: 40%;
                            overflow: hidden;
                            border: 4px solid rgb(63, 63, 63);
                            
                            button{
                                outline: none;
                                border: none;
                                img{
                                    cursor: pointer;
                                    object-fit: cover;
                                    width: 100%;
                                    height: 100%;
                                    top: 0;
                                    left: 0;
                                }
                            }
                        }
    
                        .project_info{
                            width: 100%;
                            height: 40%;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            
                            
                            .languages{
                                width: 100%;
                                padding: 10px 0;
                                border-bottom: 1px solid lightgray;

                                p{
                                    letter-spacing: 0;

                                    span{
                                        margin-right: 5px;
                                        font-weight: 500;
                                    }
                                }

                            }

                            p{
                                margin-top: 5px;
                                letter-spacing: 0.5px;
                            }
                        }
                    }

                }

                
            }
        }
    }
}