@import './mixin';

.navbar{
    margin: 2rem;
    width: 100%;

    ul{
        @include flexCent;
        height: 100%;

        a{
            margin: 2rem;
            border: 1px dashed rgba(0, 0, 0, 0.315);
            @include flexCent;
            height: 100%;
            text-decoration: none;
            color:  gray;
            font-weight: 600;
            text-transform: uppercase;
            transition: $boxHoverEffect;

            &:hover{
                box-shadow: 0 1.5px 3px rgba(0,0,0,0.16), 0 1.5px 3px rgba(0,0,0,0.23);
            }

            li{
                padding: 0 120px;
                list-style: none;
            }
        }
    }
}