@import './mixin';

.navbar{
    z-index: 999;
    position: fixed;
    top: -50px;
    height: 5vh;
    width: 100%;
    display: block;
    transition: top 0.3s;
    background-color: rgb(0, 21, 47);


    ul{
        @include flexCent;
        height: 100%;

        a{
            @include flexCent;
            height: 100%;
            text-decoration: none;
            color:  rgb(255, 255, 255);
            font-weight: 600;
            text-transform: uppercase;
            transition: $boxHoverEffect;

            &:hover{
                box-shadow: 0 1.5px 3px rgba(0,0,0,0.16), 0 1.5px 3px rgba(0,0,0,0.23);
            }

            li{
                padding: 0 70px;
                list-style: none;
            }

            .resume-nav{
                color: rgb(160, 184, 54);
            }
        }
    }
}