@import './hero';
@import './navbar';
@import './about';
@import './myWorks';
@import './footer';
@import './modal';
@import './links';
@import './mixin';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    background-color: $bg1;
    font-weight: 400;
    
    h1{
        color: $black;
        font-weight: 200;
    }
}



@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
