@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
.hero {
  max-width: 80vw;
  height: 60vh;
  margin: auto;
  margin-top: 10rem;
  padding: 3rem;
}

.hero .hero-shape {
  width: 100%;
  height: 100%;
  border-radius: 50px;
  background: url("../images/hero1.jpg");
  background-position: center;
  background-size: cover;
}

.hero .hero-shape .bg {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: all 1.35s cubic-bezier(0.25, 0.8, 0.25, 1);
  background: linear-gradient(45deg, #7aa0cb8c 50%, #93b3cf7e 70%);
  border-radius: 50px;
  height: 100%;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero .hero-shape .bg:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.hero .hero-shape .hero-text {
  width: 60%;
  margin: auto;
  font-family: 'Roboto Mono', sans-serif;
  color: #fff;
}

.hero .hero-shape .hero-text h1 {
  font-size: 3rem;
}

.hero .hero-shape .hero-text p {
  font-size: 1.2rem;
  margin: 2px 0;
}

.hero .hero-shape .hero-text button {
  width: 100px;
  padding: 5px 10px;
  margin-top: 10px;
  border: none;
  cursor: pointer;
  background-color: #C1D1DB;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  background-color: #fff;
}

.navbar {
  margin: 2rem;
  width: 100%;
}

.navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.navbar ul a {
  margin: 2rem;
  border: 1px dashed rgba(0, 0, 0, 0.315);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-decoration: none;
  color: gray;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.navbar ul a:hover {
  box-shadow: 0 1.5px 3px rgba(0, 0, 0, 0.16), 0 1.5px 3px rgba(0, 0, 0, 0.23);
}

.navbar ul a li {
  padding: 0 120px;
  list-style: none;
}

#about-me {
  width: 100%;
  height: 55vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f5f7;
}

#about-me .me-description {
  width: 30%;
  margin: 0 3% 0 auto;
}

#about-me .me-description h1 {
  width: 140px;
  background: linear-gradient(45deg, #f0f5f7 90%, #7AA0CB 80%);
  text-transform: uppercase;
}

#about-me .me-description h1:hover {
  background: linear-gradient(45deg, #f0f5f7 90%, #0360ca 80%);
}

#about-me .me-description p {
  letter-spacing: 1px;
  line-height: 140%;
}

#about-me .me-description p span {
  color: #268d43;
  font-weight: 600;
}

#about-me .skills {
  width: 40%;
  margin: 0 auto 0 3%;
  display: flex;
}

#about-me .skills .skill-tree {
  padding: 0 30px;
}

#about-me .skills .skill-tree h3 {
  text-transform: uppercase;
  margin-bottom: 10px;
  padding: 2px;
  background: linear-gradient(45deg, #C1D1DB 75%, #f0f5f7 80%);
}

#about-me .skills .skill-tree ul li {
  width: 150px;
  list-style: none;
  padding: 2px 0;
  letter-spacing: 1px;
}

#about-me .skills .skill-tree ul li:hover {
  background-color: #ebebeb;
}
/*# sourceMappingURL=main.css.map */