@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
header {
  height: 70vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #223750;
  box-shadow: 2px 8px 10px #001a446c;
}

header .hero-wrapper {
  overflow: hidden;
  width: 30vw;
  height: 15vh;
  background-color: #fff;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: height 0.5s ease-in-out;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
}

header .hero-wrapper .unshow-box {
  display: flex;
  align-items: center;
  width: 100%;
}

header .hero-wrapper .unshow-box .inactive {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

header .hero-wrapper .unshow-box .inactive .my-pic {
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
}

header .hero-wrapper .unshow-box .inactive .my-pic img {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

header .hero-wrapper .unshow-box .inactive .hero-textBox {
  margin-left: 40px;
  padding-left: 20px;
  border-left: 1px solid lightgray;
}

header .hero-wrapper .unshow-box .inactive .hero-textBox h2 {
  font-size: 2rem;
  letter-spacing: 1.1px;
}

header .hero-wrapper .unshow-box .inactive .hero-textBox h3 {
  font-size: 1rem;
  padding: 10px 0;
  letter-spacing: 1.1px;
}

header .hero-wrapper .unshow-box .down-icon {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 150px;
  height: 100%;
  transition: transform 0.35s;
}

header .hero-wrapper .unshow-box .down-icon i {
  font-size: 2.5rem;
}

header .hero-wrapper .show-box {
  height: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  transition: 3s;
  border-top: 1px solid lightgray;
  padding: 20px;
}

header .hero-wrapper .show-box p {
  font-size: 1.2rem;
  line-height: 120%;
  margin-top: 1rem;
  letter-spacing: 1px;
}

header .hero-wrapper .show-box p span {
  color: #cf6161;
  font-weight: 500;
}

header .active {
  height: 45vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

header .active .down-icon {
  transition: transform 0.35s;
}

header .active .down-icon i {
  transform: rotate(180deg);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  background-color: #fff;
}

.navbar {
  z-index: 999;
  position: fixed;
  top: -50px;
  height: 5vh;
  width: 100%;
  display: block;
  transition: top 0.3s;
  background-color: #00152f;
}

.navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.navbar ul a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-decoration: none;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.navbar ul a:hover {
  box-shadow: 0 1.5px 3px rgba(0, 0, 0, 0.16), 0 1.5px 3px rgba(0, 0, 0, 0.23);
}

.navbar ul a li {
  padding: 0 70px;
  list-style: none;
}

.navbar ul a .resume-nav {
  color: #a0b836;
}

.about {
  width: 100%;
  height: 80vh;
  display: flex;
  box-shadow: 2px 8px 10px #001a446c;
  background-color: #fdfdf6;
}

.about .wrapper {
  height: 100%;
  width: 70%;
  margin: auto;
  padding-top: 75px;
  display: flex;
  flex-direction: column;
}

.about .wrapper .header {
  width: 35%;
  height: auto;
}

.about .wrapper .header h1 {
  font-weight: 300;
  font-size: 3rem;
  letter-spacing: 3px;
}

.about .wrapper .about-box {
  margin-top: 60px;
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about .wrapper .about-box .mybox {
  margin: 20px;
  width: 45%;
  height: 100%;
  border-radius: 15px;
  padding: 2.5rem;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: all 1.35s cubic-bezier(0.25, 0.8, 0.25, 1);
  background-color: #fff;
}

.about .wrapper .about-box .mybox:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.about .wrapper .about-box .mybox h3 {
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.about .wrapper .about-box .talents {
  display: flex;
  flex-direction: column;
}

.about .wrapper .about-box .talents .cards {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.about .wrapper .about-box .talents .cards .card {
  display: flex;
  margin-top: 15px;
}

.about .wrapper .about-box .talents .cards .card i {
  height: 15%;
  width: 10%;
  font-size: 25px;
}

.about .wrapper .about-box .talents .cards .card .card-text {
  width: 80%;
}

.about .wrapper .about-box .talents .cards .card .card-text h4 {
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.about .wrapper .about-box .talents .cards .card .card-text p {
  margin-top: 2px;
  letter-spacing: 1px;
}

.about .wrapper .about-box .skills {
  display: flex;
  flex-direction: column;
}

.about .wrapper .about-box .skills .skill-list {
  display: flex;
}

.about .wrapper .about-box .skills .skill-list ul {
  width: 100%;
  list-style: none;
}

.about .wrapper .about-box .skills .skill-list ul li {
  font-size: 1.1rem;
  letter-spacing: 1px;
  padding: 2px;
}

.about .wrapper .about-box .skills .skill-list ul li:nth-child(1) {
  color: #0052a0;
  font-weight: 500;
  margin: 5px 0;
}

main {
  height: 100%;
  width: 100vw;
}

main .wrapper {
  width: 100%;
  height: 100%;
  height: 100%;
  width: 70%;
  margin: auto;
  padding-top: 75px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

main .wrapper .header {
  width: 100%;
  height: 20%;
  margin: 10px 0;
}

main .wrapper .header h1 {
  font-weight: 300;
  font-size: 3rem;
  letter-spacing: 3px;
}

main .wrapper .switches {
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}

main .wrapper .switches select {
  font-size: 18px;
  padding: 5px;
  outline: none;
}

main .wrapper .show-works {
  height: 70%;
  width: 100%;
}

main .wrapper .show-works .project-box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

main .wrapper .show-works .project-box .workBox {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

main .wrapper .show-works .project-box .workBox .project-card {
  width: 350px;
  height: 450px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: all 1.35s cubic-bezier(0.25, 0.8, 0.25, 1);
  padding: 20px;
  border-radius: 5px;
  border: 1px solid rgba(211, 211, 211, 0.568);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 20px 0;
}

main .wrapper .show-works .project-box .workBox .project-card:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

main .wrapper .show-works .project-box .workBox .project-card .project_name {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

main .wrapper .show-works .project-box .workBox .project-card .project_name .name h1 {
  font-size: 1.5rem;
  text-transform: capitalize;
}

main .wrapper .show-works .project-box .workBox .project-card .project_name .name em {
  font-size: 1rem;
}

main .wrapper .show-works .project-box .workBox .project-card .project_name .projects_link {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

main .wrapper .show-works .project-box .workBox .project-card .project_name .projects_link a {
  text-decoration: none;
  color: black;
  padding: 5px;
  font-size: 1.3rem;
}

main .wrapper .show-works .project-box .workBox .project-card .project_image {
  position: relative;
  width: 100%;
  height: 40%;
  overflow: hidden;
  border: 4px solid #3f3f3f;
}

main .wrapper .show-works .project-box .workBox .project-card .project_image button {
  outline: none;
  border: none;
}

main .wrapper .show-works .project-box .workBox .project-card .project_image button img {
  cursor: pointer;
  object-fit: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

main .wrapper .show-works .project-box .workBox .project-card .project_info {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main .wrapper .show-works .project-box .workBox .project-card .project_info .languages {
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px solid lightgray;
}

main .wrapper .show-works .project-box .workBox .project-card .project_info .languages p {
  letter-spacing: 0;
}

main .wrapper .show-works .project-box .workBox .project-card .project_info .languages p span {
  margin-right: 5px;
  font-weight: 500;
}

main .wrapper .show-works .project-box .workBox .project-card .project_info p {
  margin-top: 5px;
  letter-spacing: 0.5px;
}

footer {
  width: 100%;
  height: 40vh;
  background-color: #00152f;
  margin-top: 60px;
  border-top: 6px solid #9c9c00;
}

.modal {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.322);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  cursor: pointer;
  z-index: 999;
}

.modal .wrapper {
  width: 800px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #fff;
  flex-direction: row;
  cursor: auto;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.modal .wrapper section {
  width: 75%;
  height: 100%;
  margin-right: auto;
  overflow: scroll;
}

.modal .wrapper section img {
  width: 100%;
}

.modal .wrapper aside {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.modal .wrapper aside #closeBtn {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.modal .wrapper aside #closeBtn button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-size: 2em;
  width: 25px;
  height: 25px;
}

.modal .wrapper aside .description {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 20px;
}
/*# sourceMappingURL=main.css.map */